@import "tailwindcss";

@theme {
  --breakpoint-2xs: 320px;
  --breakpoint-xs: 375px;
  --breakpoint-500: 500px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-black2: #222222;
  --color-green: #19762d;
  --color-lightblue: #01bcf1;
  --color-orange: #f26422;
  --color-dark-blue: #006cb5;
  --color-pink: #ee5ba1;
  --color-yellow: #fff001;  
  --color-yello2: #f4ec0a;
  --color-dark-yellow: #f4ec0a;
  --color-light-red: #e94351;
  --color-vivid-orange: #f9a21d;

  --font-body: "Montserrat", sans-serif;
  --font-heading: "Bebas Neue", sans-serif;

  --shadow-header: 0px 4px 20px 0px #00000033;
  --shadow-menu-shedow: -5px 0 15px rgba(0, 0, 0, 0.2);
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  ::after,
  ::before,
  * {
    @apply box-border;
  }
  body {
    @apply m-0 p-0 font-body;
  }
  h1,
  .h1 {
    @apply text-[100px] 2xs:text-[48px] md:text-[52px] lg:text-[80px] xl:text-[100px] font-heading font-normal text-black uppercase leading-[120px] 2xs:leading-[58px] lg:leading-[70px] xl:leading-[120px];
  }
  h2,
  .h2 {
    @apply text-[64px] 2xs:text-[48px] xl:text-[64px] font-heading font-normal text-black leading-[77px] 2xs:leading-[58px] xl:leading-[77px];
  }
  h3,
  .h3 {
    @apply text-[48px] 2xs:text-[32px] lg:text-[48px] 2xs:leading-[38px] lg:leading-[58px] font-heading font-normal text-black;
  }
  h4,
  .h4 {
    @apply text-[24px] font-body font-bold text-black leading-[29px] 2xs:leading-6 md:leading-[29px];
  }
  h5,
  .h5 {
    @apply text-[20px] font-body font-normal 2xs:leading-[29px] lg:leading-6;
  }
  p {
    @apply font-body text-base text-black2 leading-5;
  }
  img {
    @apply w-full h-full object-cover;
  }
}

@layer components {
  .btn {
   @apply rounded-[20px] uppercase tracking-[0.006em] border-2 cursor-pointer transition duration-300 ease-in-out font-bold py-2 px-7 text-base font-body leading-5;
  }
  .custom-btn {
    @apply text-white  hover:text-white hover:bg-[#14532d] bg-green font-bold py-2.5 px-7;
  }
  .custom-orange-btn {
    @apply  border-orange text-white  hover:text-orange hover:bg-white hover:border-2 hover:border-orange bg-orange;
  }
  .custom-dark-blue-btn {
    @apply  border-dark-blue text-white  hover:text-dark-blue hover:bg-white bg-dark-blue hover:border-2 hover:border-dark-blue;
  }
  .custom-light-blue-btn {
    @apply  border-lightblue text-white  hover:text-lightblue hover:bg-white bg-lightblue hover:border-2 hover:border-lightblue;
  }
  .custom-white-btn {
    @apply text-green  hover:text-white hover:bg-green bg-white font-bold py-2.5 px-7;
  }
}

@layer utilities {
  .container-lg {
    @apply w-full xs:px-2.5 md:px-[55px];
  }
  .container-max-1232 {
    @apply px-[140px] 2xs:px-[30px] lg:px-26 xl:px-[140px] w-full;
  }
  .container-max-1312 {
    @apply px-[100px] 2xs:px-0 lg:px-[60px] xl:px-[100px] w-full;
  }
  .container-max-1000 {
    @apply max-w-[1000px];
  }
  header .mobile-links li {
    @apply px-8 font-bold font-body;
  }
  .hero-section span {
    @apply font-bold text-black;
  }
  header .icon {
    @apply flex gap-10 2xs:gap-5 xl:gap-10;
  }
  .next-evaluation-Socializing .feature-main {
    @apply flex lg:flex-col gap-5 w-full;
  }
  .next-evaluation-Socializing .feature {
    @apply flex 2xs:flex-col sm:flex-row gap-2.5 lg:items-center 2xs:w-[50%] lg:w-auto;
  }
  .next-evaluation-Socializing .feature .green-tick {
    @apply rounded-full border-2 border-green w-fit h-fit p-[13px];
  }
  .next-evaluation-Socializing .feature p {
    @apply font-bold sm:self-center;
  }
  .swiper-navigation-icon {
    @apply w-5! h-5!;
  }
  .swiper-button-prev svg {
    @apply font-bold!;
  }
  .swiper-scrollbar-drag {
    @apply bg-green! h-2.5!;
  }
  .swiper-scrollbar {
    @apply h-2.5!;
  }
  footer a {
    @apply font-bold leading-5 hover:text-green transition duration-300 ease-in-out;
  }
  footer .icon {
    @apply hover:bg-yello2 cursor-pointer bg-green rounded-full h-fit transition duration-300 ease-in-out;
  }
  .flavorimg {
    @apply lg:w-[440px]! 2xs:w-[280px]!;
  }
  footer input {
    @apply rounded-[20px] bg-white px-7 py-2 border-2 border-green leading-5 italic max-w-[490px] w-full mt-[22px] 2xs:justify-self-center;
  }
  .testomonial .testnomial-contant-main {
    @apply lg:px-7 lg:py-[47px] 2xs:px-[30px];
  }
  .choose-your-sip .absolute-card {
    @apply after:absolute after:w-full after:h-full after:inset-0 after:z-50;
  }
  .choose-your-sip .main-img {
    @apply relative z-40 justify-items-center pt-[60px] 2xs:pt-12 xl:pt-[60px];
  }
  .choose-your-sip .before-container {
    @apply absolute inset-0 -z-10 w-full h-full rounded-[20px];
  }
  .select-contant {
    @apply flex cursor-pointer items-center justify-between rounded-[20px] border-2 border-green bg-white px-7 py-2;
  }
  .orange-overlay-before {
    @apply relative before:content-[''] before:absolute before:inset-0 before:bg-[url('./assets/Image/orange-bg.png')] 
           before:bg-no-repeat before:z-10 
           before:top-0 
           before:-left-[97.88px]
           before:2xs:bg-contain 
           before:xl:h-[476px]
           before:2xl:h-auto;
  }
  .blue-overlay-before {
    @apply relative before:content-[''] before:absolute before:inset-0 before:bg-[url('./assets/Image/bg-blue.png')]
            before:bg-contain
            before:bg-no-repeat
            before:z-10
            before:left-[78px]
            before:right-0;
  }
}

@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fixed-header {
  position: fixed;
  top: 43px;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px #00000033;
  animation: stickySlideDown 1s ease-in-out;
  padding-block: 20px;
}
.fixed-announcement-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: black;
  color: white;
  animation: stickySlideDown 1s ease-in-out;
  padding-block: 14px;
}

.scrolled path {
  fill: black !important;
}
.scrolled svg {
  fill: black !important;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-blue-gradient {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 100%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    linear-gradient(0deg, #006cb5, #006cb5);
}

.orange-gradiant {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 100%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    linear-gradient(0deg, #f26422, #f26422);
}

.lightblue-gradiant {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 100%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    linear-gradient(0deg, #01bcf1, #01bcf1);
}
