@import "tailwindcss";

@theme {
  --breakpoint-2xs: 320px;
  --breakpoint-xs: 375px;
  --breakpoint-500: 500px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-black2: #222222;
  --color-green: #19762d;
  --color-lightblue: #01bcf1;
  --color-orange: #f26422;
  --color-dark-blue: #006cb5;
  --color-pink: #ee5ba1;
  --color-yellow: #fff001;
  --color-dark-yellow: #f4ec0a;
  --color-light-red: #e94351;
  --color-vivid-orange: #f9a21d;

  --font-body: "Montserrat", sans-serif;
  --font-heading: "Bebas Neue", sans-serif;

  --shadow-header: 0px 4px 20px 0px #00000033;
  --shadow-menu-shedow: -5px 0 15px rgba(0, 0, 0, 0.2);
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  ::after,
  ::before,
  * {
    @apply box-border;
  }
  body {
    @apply m-0 p-0 font-body;
  }
  h1 {
    @apply text-[100px] 2xs:text-[48px] md:text-[52px] lg:text-[80px] xl:text-[100px] font-heading font-normal text-black uppercase leading-[120px] 2xs:leading-[58px] lg:leading-[70px] xl:leading-[120px];
  }
  h2 {
    @apply text-[64px] font-heading font-normal text-black;
  }
  h3 {
    @apply text-[48px] font-heading font-normal text-black;
  }
  h4 {
    @apply text-[24px] font-body font-bold text-black;
  }
  h5 {
    @apply text-[20px] font-body font-normal;
  }
  p {
    @apply font-body text-base text-black2 leading-5;
  }
}

@layer components {
  .custom-btn {
    @apply rounded-[20px] uppercase text-white bg-green font-bold py-2.5 px-7 text-base font-body leading-5;
  }
}

@layer utilities {
  .container-lg {
    @apply w-full xs:px-2.5 md:px-[55px];
  }
  .mobile-links li{
    @apply px-8 font-bold font-body;
  }
  .hero-section span{
    @apply font-bold text-black;
  }
  .icon{
    @apply flex gap-10 2xs:gap-5 xl:gap-10;
  }
}

@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fixed-header {
  position: fixed;
  top: 38px;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px #00000033;
  animation: stickySlideDown 1s ease-in-out;
  padding-block: 12px;
}
.fixed-announcement-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: black;
  color: white;
  animation: stickySlideDown 1s ease-in-out;
  padding-block: 10px;
}

.scrolled svg path{
  fill: black;
}
